.hide {
  display: none;
  opacity: 0;
}
.show {
  display: block;
  opacity: 1;
}
#Anutrickz_translateBTN {
  /* position: absolute;
  top: 17px;
  right: 70px;*/
  z-index: 99999; 
}
#Anutrickz_translateBTN svg {
  width: 40px;
  height: 40px;
}
#Anutrickz_translateBTN2 {
  /* position: absolute;
  top: 17px;
  right: 70px;*/
  z-index: 99999; 
}
#Anutrickz_translateBTN2 svg {
  width: 40px;
  height: 40px;
}
#ATLang_list {
  width: 10rem;
  right: 0px;
  box-shadow: 0 0 15px rgb(0 0 0 / 7%);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 9;
  background: #000;
  top: 100%;
  color: #fff;
}

#ATLang_list2 {
  width: 100%;
  right: 0px;
  box-shadow: 0 0 15px rgb(0 0 0 / 7%);
  border-radius: 0.5rem;
  z-index: 99999;
  
  top: 100%;
  color: #fff;
}

#ATLang_list li {
  list-style: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#ATLang_list2 li {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

#ATLang_list ul {
  margin: 0 auto;
}

#ATLang_list2 ul {
  margin: 0 auto;
}
#Anutrickz_translateBTN.hover #ATLang_list {
  display: block;
}
#Anutrickz_translateBTN2.hover #ATLang_list2 {
  display: block;
}
.language-active {
  color: #CBFB45;
}
.language-list {
  cursor: pointer;
  margin: 3px;
  align-items: center;
}
#goog-gt-tt,
.goog-te-banner-frame {
  display: none !important;
}

.skiptranslate{
    margin-top: -40px;
}
